.logoloop {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height:90px;
  display: flex;
  align-items: center;
  justify-content: center;
  --logoloop-gap: 40px;
  --logoloop-logoHeight: 48px;
  --logoloop-fadeColorAuto: var(--dark);
}

.logoloop__track {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: max-content;
  will-change: transform;
  user-select: none;
}

.logoloop__list {
  display: flex;
  align-items: center;
}

.logoloop__item {
  flex: 0 0 auto;
  margin-right: var(--logoloop-gap);
  font-size: var(--logoloop-logoHeight);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoloop__node {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  transition: transform 0.3s ease, color 0.3s ease;
}

.logoloop__item:hover .logoloop__node {
  color: var(--hover);
  transform: scale(1.2);
}

.logoloop--fade::before,
.logoloop--fade::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 120px;
  pointer-events: none;
  z-index: 2;
}

.logoloop--fade::before {
  left: 0;
  background: linear-gradient(to right, var(--logoloop-fadeColorAuto), transparent);
}

.logoloop--fade::after {
  right: 0;
  background: linear-gradient(to left, var(--logoloop-fadeColorAuto), transparent);
}

